body {
  font-family: Helvetica, Arial, sans-serif;
  color: #36454f;
  margin: 0
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.container {
  max-width: 60rem;
  padding: 0 15px;
  margin: 0 auto;
}
