body {
  font-family: Helvetica, Arial, sans-serif;
  color: #2b0028;
  margin: 0
}

h1 {
  text-align: center; 
}

h2 {
  text-align: center;
}

a {
  color: #c4225b;
  font-weight: bold;
}

.container {
  max-width: 60rem;
  padding: 0 15px;
  margin: 0 auto;
}

.list-unstyled {
  list-style: none;
  padding: 0;
}

.list-unstyled li {
  margin-bottom: 10px;
}

.u-center {
  text-align: center;
}

.site-footer {
  margin-top: 50px;
  font-size: 12px;
}
